@model TJS.VIMS.Models.VolunteerInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Testing</title>
</head>
<body>
    <h1>@Model.UserName</h1>
    @using (Html.BeginForm("VolunteerClockedInOut", "VolunteerClockTime", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div>
            <div class="form-group">

                <!-- fill all VolunteerInfo fields -->
                @*@Html.HiddenFor(model => model.FirstName)
                @Html.HiddenFor(model => model.LastName)
                @Html.HiddenFor(model => model.UserName)
                @Html.HiddenFor(model => model.Address1)
                @Html.HiddenFor(model => model.Address2)
                @Html.HiddenFor(model => model.City)
                @Html.HiddenFor(model => model.StateId)
                @Html.HiddenFor(model => model.ZipCode)
                @Html.HiddenFor(model => model.PhoneNumber)
                @Html.HiddenFor(model => model.PhoneNumberType)
                @Html.HiddenFor(model => model.Email)
                @Html.HiddenFor(model => model.DOB)
                @Html.HiddenFor(model => model.Emrgncy_Cntct_Name)
                @Html.HiddenFor(model => model.Emrgncy_Cntct_Phn)
                @Html.HiddenFor(model => model.CreatedBy)
                @Html.HiddenFor(model => model.CreatedDt)
                @Html.HiddenFor(model => model.UpdatedBy)
                @Html.HiddenFor(model => model.UpdatedDt)
                @Html.HiddenFor(model => model.State)
                @Html.HiddenFor(model => model.VolunteerClockInOutInfoes)*@
                              
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Punch Clock" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

</body>
</html>