@model TJS.VIMS.Models.VolunteerInfo

@{
    ViewBag.Title = "VolunteerClockedInOut";
}

@using (Html.BeginForm("TimeClockLogIn", "VolunteerClockTime", new { id = ViewBag.LocationId }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="center">
        <table style="width:25%">
            <tr>
                <td align="right" style="width:40%"></td>
                <td style="width:50%">
                    <input type="submit" value="Finished, return to home page ..." class="btn btn-default" />
                </td>
            </tr>
        </table>
    </div>
}

<h2>VolunteerClockedInOut</h2>

<div>
    <h4>VolunteerInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumberType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumberType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emrgncy_Cntct_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emrgncy_Cntct_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emrgncy_Cntct_Phn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emrgncy_Cntct_Phn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDt)
        </dd>

    </dl>
</div>
<div id="counter">10</div>
<script>
    setInterval(function () {
        var div = document.querySelector("#counter");
        var count = div.textContent * 1 - 1;
        div.textContent = count;
        if (count <= 0) {
                location.href = "@Url.Action("TimeClockLogIn", "VolunteerClockTime", new { id = 3 })"; // todo fix hardcoded 3
            }
        }, 1000);
</script>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VolunteerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

