@model TJS.VIMS.ViewModel.VolunteerClockedInOutViewModel

@{
    ViewBag.Title = "VolunteerClockedOut";
}

<!-- BKP create partial view -->
@Html.Partial("_ClockView")

<br />
<br />

<div>
    <b>Most Recent Hours Worked</b>
    <br />
    <br>
    <table>
        @foreach (var v in ViewBag.RecentClockInfo)
        {
            <tr>
                <td>@v.ClockInDateTime.ToLongDateString() (@TJS.VIMS.Util.Utility.GetClockedInTime(v))</td>
            </tr>
        }
    </table>
</div>
<!-- BKP create partial view -->

@using (Html.BeginForm("TimeClockLogIn", "VolunteerClockTime", new { id = ViewBag.LocationId }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="center">
        <table style="width:25%">
            <tr>
                <td align="right" style="width:40%"></td>
                <td style="width:50%">
                    <input type="submit" value="Finished, return to home page ..." class="btn btn-default" />
                </td>
            </tr>
        </table>
    </div>
}

<h2>VolunteerClockedOut</h2>

@Html.Partial("_HoursStatusView")

<div id="counter">30</div>
<script>
    setInterval(function () {
        var div = document.querySelector("#counter");
        var count = div.textContent * 1 - 1;
        div.textContent = count;
        if (count <= 0) {
                location.href = "@Url.Action("TimeClockLogIn", "VolunteerClockTime", new { id = ViewBag.LocationId })"; 
            }
        }, 1000);
</script>

