@model TJS.VIMS.Models.VolunteerInfo

@{
    ViewBag.Title = "VolunteerClockIn";
}

<div class="center">
    <div id="Camera">
    </div>
    <br>
    <input type="button" value="Capture" onclick="webcam.capture();" />
    <div>
        <h3>Camera</h3>
        <input type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput">
    </div>
</div>

<h1>@Model.UserName</h1>
@using (Html.BeginForm("VolunteerClockedInOut", "VolunteerClockTime", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        <div class="form-group">
    </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Punch Clock" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.webcam.js")">
    </script>
    <script type="text/javascript">
            $("#Camera").webcam({
                width: 320,
                height: 240,
                mode: "save",
                swffile: "@Url.Content("~/Scripts/jscam.swf")",
                onTick: function () { },
                onSave: function () {
                    UploadPic();
                },
                onCapture: function () {
                    webcam.save("@Url.Content("~/VolunteerClockTime/Capture")/");
             },
                debug: function () { },
                onLoad: function () { }

            });

    </script>
}

