@model TJS.VIMS.ViewModel.VolunteerClockedInOutViewModel

@{
    ViewBag.Title = "VolunteerClockedOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center">

    <strong>You are now clocked out. Thank you for your service.</strong><br />

    <br />
    <br />
    <br />

    <strong>Case # @Model.CaseNumber</strong><br />
    @Html.Partial("_Clock")

    <br />
    <br />
    <br />
    <br />

    @Html.Partial("_RecentHours", Model)

    <br />
    <br />
    <br />
    <br />
    
    @using (Html.BeginForm("TimeClockLogIn", "VolunteerClockTime", new { id = Model.LocationId }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="center">
            <table align="center" style="width:25%">
                <tr>
                    <td align="center" style="width:100%">
                        <input type="submit" value="Finished, return to home page ..." class="btn btn-default" />
                    </td>
                </tr>
            </table>
        </div>
    }

    <br />
    <br />
    <br />

    @Html.Partial("_HoursStatus", Model)

    <br />
    <br />
    
    <div id="counter">30</div>
    <script>
    setInterval(function () {
        var div = document.querySelector("#counter");
        var count = div.textContent * 1 - 1;
        div.textContent = count;
        if (count <= 0) {
                location.href = "@Url.Action("TimeClockLogIn", "VolunteerClockTime", new { id = Model.LocationId })";
            }
        }, 1000);
    </script>
</div>