@model TJS.VIMS.ViewModel.LocationViewModel

@{
    ViewBag.Title = "Location";
}
<div class="subheader">Open Time Clock App</div>
@using (Html.BeginForm("Location", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
 @Html.AntiForgeryToken()

<div class="center">
    <table class="tjs-table" style="width:40%;border:none;align-content:center">
        <tr>
            <td style="width:100%">
                @Html.DropDownListFor(m => m.SelectedLocationId, Model.LocationSelectListItem, new { style = "width:100%", @class = "form-control", id = "ddlLocation" })
            </td>
        </tr>
        <tr>
            <td><span>&nbsp;</span></td>
        </tr>
        <tr>
            <td style="width:100%;">
                <div id="showTimeClockLink" style="visibility:hidden;">
                    <table style="width:100%">
                        <tr>
                            <td style="width:50%">
                                <input type="submit" value="Open time clock app for this location" class="btn btn-default" />
                            </td>
                            <td style="width:50%">
                                <input type="submit" value="Edit Location" formaction="@Url.Action("EditLocation", "Home")" class="btn btn-default" />
                            </td>
                            <td style="width:50%">
                                <input type="submit" value="Delete Location" formaction="@Url.Action("DeleteLocation", "Home")" class="btn btn-default" />
                            </td>
                        </tr>
                        <tr><td><span>&nbsp;</span></td></tr>
                        <tr>
                            <td colspan="2" style="align-content:flex-start">
                                <div style="margin:initial">
                                    @Html.ActionLink("Add a location", "AddLocation", "Home")
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>

    </table>
  
</div>
}

@section scripts
{
<script type="text/javascript">
        $("#ddlLocation").change(function () {            
            if ($("#ddlLocation option:selected").val() == "-1") {                
                $("#showTimeClockLink").css('visibility', 'hidden');
            }
            else {
                $("#showTimeClockLink").css('visibility', 'visible');                
            }
        });
</script>
}





