@model TJS.VIMS.Models.Organization

@{
    ViewBag.Title = "EditOrganizationConfirmation";
}

<h2>EditOrganizationConfirmation</h2>

<div>
    
    @using (Html.BeginForm("UndoEditOrganization", "Administration"))
    {
        <input type="submit" value="Test" />

        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(model => model.OrganizationName)
        @Html.HiddenFor(model => model.Active)
        @Html.HiddenFor(model => model.Active)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.CreatedDt)
    }
    
    @Html.ActionLink("Return to admin portal", "Start")<br />
</div>

