@model TJS.VIMS.Models.Organization

@{
    ViewBag.Title = "EditOrganizationConfirmation";
}

<h2>EditOrganizationConfirmation</h2>

<div>
    
    @using (Html.BeginForm("UndoEditOrganization", "Administration"))
    {
        //@Model.Id = 9;

        <input type="submit" value="Test" />

        //@Html.HiddenFor(m => m.Id, new { @value = 9 })

        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(model => model.OrganizationName)
        @Html.HiddenFor(model => model.Active)
        @Html.HiddenFor(model => model.Active)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.CreatedDt)
    }
    
    @Html.ActionLink("Undo", "UndoEditOrganization", new { admin_id = ViewBag.AdminId})<br />
    @Html.ActionLink("Return to admin portal", "Start")<br />
</div>

